<ion-header>
  <ion-toolbar>
    <ion-title>Modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <ion-item>
      <ion-label stacked>Nombre</ion-label>
      <ion-input type="text" text-right id="input" [(ngModel)]="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Cantidad</ion-label>
      <ion-input type="text" text-right id="input" [(ngModel)]="Cantidad"></ion-input>
    </ion-item>
  </div>
  <ion-button (click)="subirCuenta()">Submit</ion-button>

  <ion-button (click)="salirModal()">Cancel</ion-button>

</ion-content>